<div class="container">
<h1 #teste>Lista de Produtos</h1>

      <div class="row row-cols-1 row-cols-md-3 g-4 m-2">

        <!-- passa os dados para o componete filho [produto] -->
        <!-- o status pega o status do componete filho e passa para o pai -->
      <catalago-component  *ngFor="let produto of listProdutos" [produto]="produto" 
      (status)="mudarStatus($event)">
        
        <!-- Conteúdo sendo passado para a yag do nosso componete catalogo -->
        <h5 class="acabou">ou vá até uma de nossas lojas</h5>

        <h5 class="corre">corre</h5>
      </catalago-component>
      </div>
</div>
